html,body{
    margin:0;
    padding:0;
    width:100%;
    
}

body{
    background-color: whitesmoke;
}

header{
    height: 350px;
    background-image: url(http://www.kingsview.org/sites/all/themes/paprika/img/bg-home.jpg);
    background-color:transparent;
    width: 100%;
    margin: 0;
    padding: 0;
} 

ul{
    float: right;
    margin-right: 60px;
}
li{
    font-size: 18px;
    box-sizing: border-box;  
    margin-bottom: 0;
    padding-left: 50px;
    display: inline-block;
    color: white;
    border-radius:4px 4px 0px 0px;
}
li:hover{
    background-color:cadetblue;
}
#logo{
   padding-left: 50px;
    
}
article{
    width: 80%;
    margin-bottom: 5px;
    text-align: center
    
}
main{
    width: 100%;
}
h1{
    background-color:#edeeef;
    margin:0 auto;
    text-align: center;
    text-decoration-color: gray;
    width: 80%;
    margin-bottom: 5px;
    height: 200px;
}
#section_two{
    background-color: white;
    margin-bottom: 5px;
    width: 80%;
    height: 280px;
    text-align: center;
    margin: 0 auto;
    
}
#img_2{
    padding 10px;
    float: left;
    width: calc(100%/2);
    
    
}
#kings{
    float: left;
    width: calc(100%/2);
    text-align: center;
}

#ul_menu{
    float: right;
    margin:50px;
}

#menu_two{
    margin:120px;
    padding:none;
    background-color: white;
    color: black;
    height: 200px;
}

footer{
    background-color: #5a6d95;
    height:2rem;
    width: 80%;
    padding: 15px;
    margin: 0 auto;
    box-sizing: border-box;
    color: white;
    
}








