html,body{
    margin:0;
    padding:0;
    width:100%;
    
}

body{
    background-color: whitesmoke;
}

header{
    background-color:cadetblue;
}

header > nav > ul{
    display:inline-block;
    width:100%;
    list-style: none;
    text-transform: capitalize;
    color:#ffffff;
    background-color:cadetblue;
}
